/* Estructura Principal */

.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
  gap: 1rem;   
}

/* Campo de Texto */

.tarea-input {
  width: 650px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #00471b;
  outline: none;
}

/* Boton Agregar Tarea */

.tarea-boton {
  font-size: 35px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: black;
}

@media (max-width: 576px) {
  .tarea-input{
    width: 100%;
  }
}