/* Estructura Principal */

.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
  gap: 3rem;   
}

/* Campo de Texto */

.tarea-input {
  width: 500px;
  font-size: 18px;
  background-color: white;
  padding: 12px 32px 12px 16px;
  border-radius: 4px;
  border: 2px solid #00471b;
  outline: none;
}

/* Boton Agregar Tarea */

.tarea-boton {
  width: 80px;
  font-size: 30px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: black;
  
  border: 0.5px solid black;
  padding: 7px;
  transition: all 0.3s ease 0s;
}
.tarea-boton:hover{
  color: white;
  background-color: #bd8ebd;
  border: 1px solid #bd8ebd;
  padding: 7px 10px;
}

@media (max-width: 576px) {
  .tarea-input{
    width: 100%;
  }
  .tarea-formulario{
    gap: 1rem;
  }
}