* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: white;
  background-color: #66A39E;
  font-family: 'Poppins', sans-serif;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Logo */
.logo-contenedor {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 20%;
}

/* Listas de Tareas */

.tareas-lista {
  width: 1000px;
  min-height: 500px;
  padding: 15px;
  margin: 10px 10px 30px 10px;
  border-radius: 15px;
}

@media (max-width: 576px) {
  .logo {
    width: 80%;
  }

  .tareas-lista {
    width: 90%;
    min-height: 500px;
    /* background-color: #d0d0d5; */
    padding: 5px;
  }
}


.blob{
  width: 30%;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.tareas-lista-bar h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-left: 6px;
}
